@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* tailwind customize */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .font-h1 {
    @apply font-clash font-semibold text-[48px] leading-[52px] text-black;
  }
  .font-h2 {
    @apply font-clash font-semibold text-[32px] leading-[39px] text-black;
  }

}
/* tailwind customize */

